@import 'jquery.fullpage.css';
@import 'fontello.css';
@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('../fonts/HelveticaNeueCyr-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display pro light';
    src: url('../fonts/pfdindisplaypro-light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display pro';
    src: url('../fonts/pfdindisplaypro-reg.ttf');
    font-weight: normal;
    font-style: normal;
}

//font-family: 'Yeseva One', cursive;
* {
    box-sizing: border-box;
}

.img {
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    ;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-block-start: 0;
}

a {
    color: black;
    text-decoration: none
}

h1,
h2,
h3,
h4 {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
}

p {
    font-family: 'PF Din Display pro light';
}

body {
    margin: 0;
    font-family: 'Yeseva One', cursive;
}

.container {
    width: 1800px;
    margin: 0 auto;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    .container {
        display: flex;
        height: 100%;
        border-left: 1px solid #eff0f4;
        >div {
            width: 25%;
            border-right: 1px solid #eff0f4;
            min-height: 100%;
            ;
        }
    }
}

.menu {
    height: 16vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    .container {
        height: 100%;
        padding: 0 1.4rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .nav {
        width: calc(93.4vw / 2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .round-button {
            margin-left: 1.6rem;
        }
        a {
            font-size: 1.2rem;
        }
    }
    .phone {
        font-size: 1.2rem;
    }
    .call-me {
        line-height: 4.4rem;
        font-size: 1.5rem;
        text-align: center;
    }
    i:before {
        transition: 1s;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 14vh;
    z-index: 3;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .line {
        margin: 0 2.4rem;
    }
    .wrapper {
        display: flex;
        align-items: center;
        width: 25rem;
    }
    .right {
        justify-content: flex-end;
        font-size: 1.25rem;
        .line {
            margin-left: 3.9rem;
        }
    }
    .left .line {
        margin-right: 4.2rem;
    }
    .social {
        font-size: 1.6rem;
    }
    .bottom-button {
        cursor: pointer;
        background-image: url(../img/bottom-button.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 4rem;
        width: 2.7rem;
        background-color: white;
        border-radius: 1.35rem;
        -webkit-box-shadow: -1px 5px 4px 0px rgba(222, 222, 222, 1);
        -moz-box-shadow: -1px 5px 4px 0px rgba(222, 222, 222, 1);
        box-shadow: -1px 5px 4px 0px rgba(222, 222, 222, 1);
        transition: 1s;
        transition-timing-function: ease;
    }
    .bottom-button.rotate {
        transform: rotate(-180deg);
        -webkit-box-shadow: -1px -5px 4px 0px rgba(222, 222, 222, 1);
        -moz-box-shadow: -1px -5px 4px 0px rgba(222, 222, 222, 1);
        box-shadow: -1px -5px 4px 0px rgba(222, 222, 222, 1);
    }
    .bottom-button:hover {
        transform: translateY(-1rem);
    }

    .bottom-button.rotate:hover {
        transform: rotate(-180deg) translateY(1rem);
    }
}

#scroll-nav li,
.line {
    display: block;
    width: 30px;
    height: 0;
    border-top: 2px solid #e8dac4;
    border-bottom: 2px solid #e8dac4;
}

.round-button {
    display: block;
    height: 4.4rem;
    width: 4.4rem;
    background-image: url('../img/round-button.png');
    background-size: contain;
}

.scroll-nav-wrapper .container {
    position: relative;
    height: 0;
}

#scroll-nav {
    top: 22vh;
    left: 0;
    position: absolute;
    z-index: 3;
    list-style: none;
    margin-left: 2.5rem;
    li.active {
        border-color: rgba($color: #cbaf8a, $alpha: 0);
        a {
            opacity: 1;
        }
    }
    li {
        transition: .7s;
        margin-top: 3rem;
        height: auto;
        a {
            opacity: 0;
            transition: .7s;
            display: block;
            margin: -15px 0;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/round-button.png);
        }
    }
    .slide-name-wrapper {
        margin-bottom: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slide-name {
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 1.2rem;
        -webkit-writing-mode: vertical-rl;
        writing-mode: tb-rl;
        color: #cbaf8a;
        font-family: 'PF Din Display pro';
    }
}

#slide1 {
    .right {
        .anchor {
            cursor: pointer;
        }
    }
    .left p {
        font-size: 1.4rem;
    }
}

.section .container {
    padding-left: 8.9rem;
    height: 65vh;
    position: relative;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: -2.5rem;
    width: 18.4rem;
    img {
        width: 5.4rem;
        height: auto;
    }
    .text {
        .big {
            display: block;
            font-size: 3.5rem;
            line-height: .8;
        }
        .small {
            display: block;
            font-family: 'Helvetica Neue Cyr';
            font-size: 0.8rem;
        }
    }
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
}

.section {
    .content-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left {
        .line {
            margin: 2.5rem 0;
        }
        p {
            width: 25rem;
        }
    }
    .right {
        margin-top: 7rem;
        margin-right: 8rem;
        display: flex;
        .vert {
            font-size: 3.2rem;
            color: #fff;
            transform: rotate(-90deg);
            text-align: right;
            margin-right: -5rem;
            height: 3.7rem;
            margin-top: 3.8rem;
        }
        ul {
            li {
                margin-bottom: 1.2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            width: 25.2rem;
            margin:0;
            margin-left: 1.5rem;
            font-size: 1.2rem;
        }
        .icon-right {
            color: #cbaf8a;
        }
    }
    .button {
        margin-top: 3rem;
    }
    .grey {
        position: absolute;
        left: 50%;
        top: 0;
        right: 0;
        height: 82.5vh;
        background-color: #eff0f4;
        .afina {
            position: absolute;
            top: -3.6rem;
            right: 0;
            color: white;
            font-size: 14.5rem;
        }
        .agency {
            position: absolute;
            top: 10.9rem;
            right: 0;
            font-size: 3rem;
            color: white;
        }
        img {
            position: absolute;
            left: 0;
            top: 1.5rem;
            width: 31.25rem;
            margin-left: -16.625rem;
        }
    }
}

.button {
    font-family: 'Yeseva One', cursive;
    width: 20.2rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    background: none;
    border: 3px solid #e8dac4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button .text {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
}

.button .arrow {
    margin-right: 2px;
    height: 2.9rem;
    width: 2.9rem;
    background: #cbaf8a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#slide2 {
    p {
        font-size: 1.4rem;
    }
}

#slide2 .photo-wrapper,
#slide5 .photo-wrapper {
    padding-left: 1.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #cbaf8a;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(143, 139, 143, 1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(143, 139, 143, 1);
    box-shadow: 0px 0px 18px 0px rgba(143, 139, 143, 1);
    p {
        margin: 0;
    }
    .text {
        background-color: white;
        padding: 0.5rem 0.6rem;
    }
    .name {
        font-family: 'Yeseva One', cursive;
    }
    .photo {
        width: 25rem;
        height: 31.25rem;
        background-image: url('../img/aidar.jpg');
        background-size: cover;
    }
}

#slide3 {
    .container {
        padding-right: 4rem;
    }
    h2 {
        margin-bottom: 2rem;
        span {
            font-size: 1.5rem;
        }
    }
    .center {
        width: 100%;
    }
    .texts-wrapper {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .left p {
        font-size: 1.3rem;
        width: 40rem;
    }
    .right {
        margin-top: 0;
        display: block;
    }
    .right ul {
        width: 26.2rem;
        font-family: 'PF Din Display pro light';
        list-style: square;
        margin-left: 0;
        padding-left: 1.5rem;
        li {
            display: list-item;
            margin-bottom: .4rem;
        }
    }
}

#slide4 {
    .content-wrapper {
        display: block;
    }
    h2 {
        margin-bottom: 2rem;
    }
    p {
        margin: 0;
        font-size: 1.7rem;
    }
    .list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: wrap;
        .item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 6rem;
            margin-right: 5rem;
            ;
            max-width: 40rem;
            .numb {
                font-family: 'PF Din Display pro';
                font-weight: bold;
                color: white;
                font-size: 1.7rem;
                min-width: 2.6rem;
                min-height: 2.6rem;
                background-color: #cbaf8a;
                border-radius: 2.6rem;
                line-height: 2.6rem;
                text-align: center;
                margin-right: 1.5rem;
                margin-top: -0.7rem;
            }
            .text {
                font-size: 1.7rem;
            }
            .h {
                font-family: 'Yeseva One', cursive;
            }
            .l {
                font-weight: lighter;
            }
        }
    }
}

#slide5 {
    a {
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    p {
        margin-top: 1.3rem;
        margin-bottom: 0.5rem;
        font-family: 'Yeseva One', cursive;
    }
    ul {
        max-width: 40rem;
        font-size: 1.25rem;
        font-family: 'PF Din Display pro light';
        padding-left: 2rem;
        list-style: square;
        li {
            margin-top: 0.2rem;
        }
    }
    .right {
        margin: 0;
        margin-right: 8rem;
    }
    .fp-tableCell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    .no-border {
        padding: 0;
    }
    iframe {
        display: block;
    }
    .trends .content-wrapper {
        .photo {
            width: 39rem;
            height: 29.25rem;
            background-image: url('../img/trends2020.jpg');
            margin: 0;
        }
    }
    .pfk {
        .photo {
            width: 39rem;
            height: 37.25rem;
            background-image: url('../img/pfk.png');
            margin: 0;
        }
    }
}

#slide6 {
    p {
        font-size: 1.4rem;
    }
    .s {
        font-size: 1.2rem;
        color: #909090;
        font-style: oblique;
    }
    .right {
        .photo {
            background-image: url(../img/mockup.png);
            background-size: contain;
            height: 29rem;
            width: 33rem;
        }
    }
    button {
        margin-top: 1rem;
        padding: 0;
        outline: none;
        font-family: 'Yeseva One', cursive;
        cursor: pointer;
    }
    .text-input {
        border: none;
        border-bottom: 3px solid #e8dac4;
        height: 3.5rem;
        font-size: 1.5rem;
        padding: 0.8rem;
        outline: none;
    }
}

#slide7 {
    h2 {
        margin-bottom: 2.2rem;
    }
    .background-image {
        img {
            position: absolute;
            left: 0;
            top: 1.5rem;
            width: 31.25rem;
            margin-left: -16.625rem;
        }
    }
    .left .wrapper {
        display: flex;
        font-size: 1.25rem;
        padding: 1.3rem 1.4rem;
        margin-bottom: 1rem;
        background: white;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(199, 199, 199, 1);
        -moz-box-shadow: 0px 4px 5px 0px rgba(199, 199, 199, 1);
        box-shadow: 0px 4px 5px 0px rgba(199, 199, 199, 1);
    }
    .icon {
        width: 2.2rem;
    }
    .name {
        width: 7.8rem;
    }
    .value {
        width: 17.6rem;
        font-family: 'PF Din Display pro';
    }
}

.fp-section {
    display: flex;
    align-items: center;
}

.fp-prev {
    display: none;
}

.fp-next {
    display: block;
    background: white;
    font-size: 1.25rem;
    color: #c9ae89;
    border: none;
    height: 3.8rem;
    width: 3.8rem;
    line-height: 3.8rem;
    text-align: center;
    border-radius: 50%;
    right: 2rem !important;
    -webkit-box-shadow: -1px 5px 4px 0px rgba(222, 222, 222, 1);
    -moz-box-shadow: -1px 5px 4px 0px rgba(222, 222, 222, 1);
    box-shadow: -1px 5px 4px 0px rgba(222, 222, 222, 1);
}

.window-bg {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .container {
        padding-left: 6.9rem;
        height: 100%;
        position: relative;
        .strange-text {
            font-size: 1.4rem;
            line-height: 2rem;
            font-style: italic;
            text-align: right;
            position: absolute;
            right: 8rem;
            bottom: 15rem;
            font-family: 'PF Din Display pro';
            opacity: 0;
            transition: 1s;
        }
    }
    .window {
        display: none;
        width: calc(50% - 3.45rem);
        height: 100%;
        padding-left: 1rem;
        background-color: white;
        padding-top: 1px;
        .content {
            margin-top: 35%;
            form {
                margin-top: 1.5rem;
                ;
                display: flex;
                flex-flow: row wrap;
                width: 42.7rem;
                justify-content: space-between;
                input,
                label {
                    display: block;
                    height: 3.5rem;
                    margin-bottom: .5rem;
                    border: none;
                    border-bottom: 3px solid #e8dac4;
                    font-size: 1.5rem;
                    padding: 0.8rem;
                    padding-left: 2rem;
                    outline: none;
                    width: 100%;
                    font-family: 'PF Din Display pro light';
                }
                label {
                    color: grey;
                }
                .small {
                    position: relative;
                    width: 40%;
                }
                .big {
                    position: relative;
                    width: 100%;
                }
                .file {
                    width: 1px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    padding: 0;
                }
                .wrapper:before {
                    position: absolute;
                    left: 0;
                    top: 1rem;
                    font-size: 1.2rem;
                }
                .bottom {
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .button {
                        width: 35rem;
                        padding: 0;
                    }
                }
                .checkbox-wrapper {
                    display: block;
                    position: relative;
                    padding: 0;
                    padding-left: 2rem;
                    padding-top: .2rem;;
                    cursor: pointer;
                    font-size: 1.1rem;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    height: auto;
                    border-bottom: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 1.6rem;
                        width: 1.6rem;
                        border-radius: 0.8rem;
                        background-color: #eee;
                    }
                    &:hover input~.checkmark {
                        background-color: #ddcbb5;
                    }
                    input:checked~.checkmark {
                        background-color: #f3e5d4;
                    }
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                    input:checked~.checkmark:after {
                        display: block;
                    }
                    .checkmark:after {
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

.window-bg.active {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    .strange-text {
        opacity: 1;
    }
}

#map {
    height: 100%;
    width: 100%;
}

.call-me {
    cursor: pointer;
}

@media (max-width: 1800px) {
    html {
        font-size: 11px;
    }
    .container {
        width: 1276px;
    }
}